<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='materialize.min.css') }}">
  
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
   
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new.css')}}">
  
   
   </head>
   
   <body>
      <div class="navbar-sticky">
    <nav>
      <div class="nav-wrapper center-align navbarr">
        <a href="#!" class="brand-logo headdd">MyExtrasheet</a>
    
      </div>
    </nav>
  </div>
  
  <div class="aftersign container">
      
<p class="aft">
Thank you so much for joining us on this mission and  validating this project.
This project will be completed in two weeks from now and you will be ready to rock n roll, please bear with us.
<div  class="aft2">
Thanks,
</div>
<div class="aft2">
Extrasheet LLC.
</div>


  </div>
