<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='materialize.min.css') }}">
  
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
   
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new.css')}}">
  
   
   </head>
   
   <body>
      <div class="navbar-sticky">
    <nav>
      <div class="nav-wrapper center-align navbarr">
        <a href="#!" class="headdd">MyExtrasheet</a>
    
      </div>
    </nav>
  </div>
       <div class="row ">
           <div class="col m8
           l6
           push-m2
           push-l3 s12">
               <div class='container center-align logmh3 '>
           <h5 class="logh3">
               Login to MyExtrasheet
           </h5>
       </div>
<form method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
 <div class="row inputrow">
  {% if errors %}
<p><span  class="col s12 center-align
    forg">{{ errors['invalid'] }}</span></p>
  {% endif %}
        <div class="input-field col s12
        ">
 <i class="material-icons prefix">
     account_circle
 </i>
          <input type="text"  name="email"  id="usern" class="validate"/>
          <label for="usern" class ='loginp' >Email</label>
        </div>
     
        <div class="input-field col s12
        ">
 <i class="material-icons prefix">phonelink_erase</i>
          <input type="password" name="password"  id="passw" class="validate"/>
          <label class="loginp" for="usern">Password</label>
        </div>

      </div>
      
      <div class="row buttonlog">
          <div class ="col s12">
  <button class="butto
          btn">
              Login
          </button>
          </div>
        </form>
<span hidden class="col s12 center-align
          forg">Error</span>
          <span class="col s12 center-align
          forgo">Forgot password ?</span>
  <div class="col s12">      
 <span class="col s12 center-align
          already">Don't have an account ? <b><a class="
grey-text text-darken-3"
 href=" {{ url_for('auth.register') }}" > Sign up here</a></b></span>
      
                  </div>
      
           
              <div class="row footer">
           <div class="col s12 l12 m12
           center-align">
               <div class="row home
modal-trigger" href="#modal1"
               
               >
                    <div class="col 
                   offset-s4 
                   m1 offset-m4
                   s1">
 <i class="material-icons botar prefix">add_to_queue</i>
                   </div>
                   <div class="col 
                    m1 s3">
                      <h6 class="botext">
                          Preview
                      </h6>
                      
                   </div>
               </div>
               
      



 <div id="modal1" class="modal previeww">
    <div class="modal-content ">
     <h4 class="preview_h white-text center-align">Preview</h4>
    <div class=" grey hidep lighten-2">
<div class=" container preview_a ">
Now, you don't have to loose your learning materials again.... Ever !! 
</div>
 </div>
   
      <div class="center-align
      
      preview_t
      ">
Welcome to Myextrasheet.com
      </div>
           <p class="preview_b">
Myextrasheet is an open online repository that connects you to relevant people in your circle.
</p>
<p class="preview_t center-align">You can use myextrasheet to :
      </p>
      
      <div class="preview_list">
          <ol>
              <li>
Store materials, documents, project works that might be useful to your circle e.g Past questions
              </li>
 <li>
Search for materials you might need.

              </li>
 <li>

Share materials with your colleagues
              </li>
 <li>

Retrieve missed or lost materials, documents, project works e.t.c
              </li>
 <li>
Review concepts that you might have forgotten.

              </li>
          </ol>





<p class="preview_f">
NOTE: We have a vision to Re-invent the Education System of the World and Save Lives !.... Please join us.
</p>
      </div>
    </div>
   
  </div>
  
  
           </div>
           </div>
       
           
       
 
          <script type='text/javascript' src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='materialize.min.js') }}"></script>
  <script type="text/javascript">
      
        $(document).ready(function(){
    $('.modal').modal();
  });
  </script>

    </body>
